@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 
 /* Variáveis de cores */
 :root {
    --azul2:  #3AA6B9;
    --azul-destaque: #3498db;
    --azul: #055D6C;
    --rosa: #FF9EAA;
    --rosa-claro: #FFD0D0;
    --rosa-escuro: #f46d7d;
    --cinza: #f5f5f5;
    --cinza-claro: #ecf0f1;
    --cinza-texto: #7f8c8d;
    --cinza-escuro: #333;
    --branco: #ffffff;
    --amarelo: #F9F9E0;
}



/* Reset e Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--azul2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-size: 16px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--amarelo);
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: var(--amarelo);
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
   color: var(--azul);
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--amarelo);
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
    gap: 5px; /* Adicionado para espaço entre o texto e a seta */
}

/* Adicionei esta linha para a seta */
.dropbtn::after {
    content: '▾'; /* Caractere da seta para baixo */
    font-size: 0.7em; /* Ajuste o tamanho conforme necessário */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--azul2);
    padding: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--amarelo);
    padding: 10px 5px;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--azul2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--azul);
}


.dropbtn i {
    margin-left: 5px; /* Ajuste este valor conforme necessário */
}


.header-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-outline {
    border: 2px solid var(--rosa);
    background-color: transparent;
    color: var(--rosa);
}

.btn-outline:hover {
    border: 2px solid var(--rosa-claro);
    color: var(--rosa-claro);
}

.btn-primary {
    border: none;
    border: 2px solid var(--rosa);
    background-color: var(--rosa);
    color: var(--amarelo);
}

.btn-primary:hover {
    background-color: var(--rosa-escuro);
    border-color: var(--rosa-escuro);
}



/* CORPO DA PÁGINA */
main {
    max-width: 100vw;
    width: 80%;
    margin: auto;
    padding: 50px 20px 144px 20px;
}

.main-header {
    text-align: left;
}

.main-header h1 {
    color: var(--azul);
    font-size: 30px;
}

.main-header h2 {
    color: var(--azul);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.equipe-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.equipe-card {
    display: flex;
    max-width: 225px;
    flex-direction: column;
    align-items: center;
    gap:3px;
    margin-bottom: 25px;
}

.equipe-card img {
    margin-bottom: 10px;
}

.equipe-card h3 {
    color: var(--rosa);
}

.equipe-card .btn {
    width: 70%;
    border-radius: 0%;
    padding: 12px 16px;
    font-size: 16px;
}



/* Rodapé */
footer {
    background-color: var(--azul2);
    padding: 30px 5% 0 5%;
    color: var(--amarelo);

}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--amarelo);
}

.footer-column a {
    color: var(--amarelo);
    text-decoration: none;
}

.footer-column p, .footer-column li {
    margin-bottom: 10px;
    line-height: 1;
    color: var(--amarelo);
    font-size: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: var(--rosa);
    font-size: 20px;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.8;
}

.footer-column ul {
    list-style: none;
}


/* Responsividade */
@media (max-width: 850px) {
    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .header-buttons .btn {
        padding: 5px 10px;
    } 

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    #clinicaText {
        display: none;
    }

}

@media (max-width: 590px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        color: var(--rosa);
    }
}